* {
    margin: 0;
    padding: 0;
    font-family: courier;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container {
    background-color: rgb(202, 235, 17);
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
 
h1{
    padding: 5mm;
    background-color: rgb(33, 238, 238);
    border-radius: 50mm;

}

.temas{
    width: calc(100% - 100px);
    max-width: 800px;
    border: 1px solid #999;
    border-radius: 10mm;
    padding: 5mm;

}

h2, p{
    padding-bottom: 5mm;
} 

.botaes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #0acafa;  
    padding: 2mm;
    border-radius: 5mm; 
}

a{
    display: block;
    padding: 2mm;
    margin: 1mm;
    border: 1px solid rgb(9, 172, 248);
    border-radius: 2mm;
    text-decoration: none;
    color: rgb(233, 7, 7);
}