* {
    margin: 0;
    padding: 0;

}

html,
body {
    width: 100%;
    min-height: 100pv;
    height: 100%;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/13758314-prado-com-lagoa-coniferas-e-colinas-a-noite-gratis-vetor.jpg);
    justify-content: center;
    align-items: center;
}

.form-holder {
    width: 300px;
    padding: 20px;
    background-color: rgb(1, 6, 247);
    border: 5px solid #000000;
    box-shadow: 0px 0px 30px rgb(20, 3, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

#btn {
    background-color: rgb(247, 247, 255);
    height: 40px;
    border-radius: 10px;
}
:root{
  --cor-azul: #0400ff;
  --cor-preto: #000000;
}
.title { color: var(--cor-azul);}
.texto { color: var(--cor-preto);}


:root {
  --cor-azul: #0e12f7;
  --cor-hover: #000000;
}
.btn {
  padding:0.2em 1em;
  border-radius:50px;
  display:inline-block;
}
.btn-neon {
  border:4px solid var(--cor-azul);
  position: relative;
  text-transform: capitalize;
  text-decoration:none;
  color: var(--cor-azul);
  background-color: transparent;
  cursor: pointer;
  font-size: 2em;
  font-family: 'open_sansregular';
  transition:0.4s;
  text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--cor-azul), 0 0 0.5em 0 var(--cor-azul);
}
.btn-neon:hover {
  color: var(--cor-hover);
  border:4px solid var(--cor-hover);
  transition:0.4s;
  text-shadow: none;
}
.btn-neon:hover:after {
  opacity: 1;
}
.btn-neon:hover:before {
  opacity: 1;
}
.btn-neon:before, .btn-neon:after {
  content: "";
  position: absolute;
  transition: opacity 100ms linear;
  background-color: var(--cor-azul);
}
.btn-neon:before {
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.5;
}
.btn-neon:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 0 0.75em 0.25em var(--cor-azul), 0 0 0.75em 1em var(--cor-azul);
  opacity: 0;
}