* {
    margin: 0;
    padding: 0;

}

html,
body {
    width: 100%;
    min-height: 100pv;
    height: 100%;


}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/13758314-prado-com-lagoa-coniferas-e-colinas-a-noite-gratis-vetor.jpg);
    justify-content: center;
    align-items: center;
}

.form-holder {
    width: 300px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #000000;
    box-shadow: 0px 0px 30px rgb(3, 104, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}

#btn {
    background-color: rgb(1, 58, 245);
    height: 40px;
    border-radius: 10px;
}
.box-social    { 

  margin: auto;
  display: table;

}

.box-social li {  

  float:left; 
  text-align:center; 
  margin: 5px;

}

.fa {
  font-size: 32px !important;
  margin-top: 23%;
}

.icone-box-facebook {
  width: 53px;
  height: 53px;
  background-color:#3b5998;
  color: #fff;
}

.icone-box-instagram {
  width: 53px;
  height: 53px;
  background:hsl(0 0% 10%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color:#fff;
}

.icone-box-twitter {
  width: 53px;
  height: 53px;
  background-color:#00aced;
  color: #fff;
}

.icone-box-youtube {
  width: 53px;
  height: 53px;
  background-color:#dd4b39;
  color:#fff;
}

/* SOMBRA BASE */

.sombra-base {

  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  border-radius: 50px;

}

.sombra-base:before {

  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform opacity;

}

.sombra-base:hover        { transform: translateY(-6px); }
.sombra-base:hover:before { opacity: 1; transform: translateY(6px); }

