*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.topo{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 5px;
    padding-inline-end: 20px;
    background-color: blueviolet;
    background:  linear-gradient(90deg, white, blueviolet);
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 5px;
    box-shadow: 5px 5px 15px;
}
 
nav a:hover{
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

div{
width = '300px'
height = '200px'
background = 'lightblue'
border = '1px solid black'
padding = '20px'
}




































































































































